<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DarkDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <DarkDemo.Properties.Settings>
            <setting name="DBpath" serializeAs="String">
                <value>.././ReserveDutyManager.accdb</value>
            </setting>
            <setting name="AssignationsFormTemplatePath" serializeAs="String">
                <value>C:\Users\Shai\Downloads\DarkDemo\DarkDemo\DarkDemo\Template.xlsx</value>
            </setting>
            <setting name="OutputFolderPath" serializeAs="String">
                <value>C:\Users\Shai\Downloads\DarkDemo\DarkDemo\DarkDemo\Export</value>
            </setting>
        </DarkDemo.Properties.Settings>
    </userSettings>
</configuration>
